* {
  font-family: roboto, sans-serif;
}
header{
  width: 100%;
  background-color: orange;
  margin-bottom: 40px;
}
img{
  width: 100%;
}
h3{
  padding:0;
  margin: 0;
  padding-top: 10px;
}
p{
  margin-top:15px;
}
.card{
  padding-bottom:20px;
  margin-bottom: 10px;
}
.infobox{
  border:1px solid darkgrey;
  border-top: none;
  margin-top:-4px;
  padding-left:15px;
  padding-top: 10px;
  padding-bottom: 15px;
}
header h1 {
  margin-bottom: 0;
}
header h5 {
  margin-top: 8px;
  margin-bottom: 16px;
}
